.DS_Store
node_modules/
data/
oracle/training/
oracle/training_raw/
oracle/predict/
oracle/predict_raw/
oracle/model/
NOTES
data_copy/
data_copy_copy/
oracle/predict_raww/
public/images/
Dockerfile
source-context.json
source-contexts.json
.dockerignore
npm-debug.log
