<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width,user-scalable=yes" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

<body>
  <div id="content">
    <h1>Capture Motion</h1>
    <ul>
      <li>acceleration x: <span id="accelerationX"></span>g</li>
      <li>acceleration y: <span id="accelerationY"></span>g</li>
      <li>acceleration z: <span id="accelerationZ"></span>g</li>
    </ul>

    <button id="record-general">Start recording general</button>
    <br>
    <button id="record-walk">Start recording walk</button>
    <br>
    <button id="record-trot">Start recording trot</button>
    <br>
    <button id="record-canter">Start recording canter</button>
  </div>
  <script type="text/javascript">

    $(document).ready(function(){
      $("#record-canter").click(function(event) {
        event.preventDefault();

        if (recording) {
          recording = false;
          $(this).text('Start recording');
          stopCapture();
        } else {
          recording = true;
          $(this).text('Stop recording');
          startCapture();
        }
      });
    });

    var recording = false;
    var storage = [];

    function toggleRecording(type) {

    }

    function startCapture() {
      console.log("Starting......whirrrrr");
      window.ondevicemotion = capture;
    }

    function stopCapture() {
        console.log("Stopping")

        $.ajax({
          method: "POST",
          url: "/upload_data",
          data: JSON.stringify(storage),
          contentType: "application/json",
          success: function(data) {
            // reset storage for next run
            storage = [];
            console.log(data)
          }
        });

        window.ondevicemotion = undefined;
    }

    function capture(e) {
        var x = e.acceleration.x;
        var y = e.acceleration.y;
        var z = e.acceleration.z;  

        storage.push([x, y, z])
    }

  </script>
</body>
</html>