<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<meta name="viewport" content="width=device-width,user-scalable=yes" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>

<body>
	<div id="content">
		<h1>Capture Motion</h1>
		<ul>
			<li>acceleration x: <span id="accelerationX"></span>g</li>
			<li>acceleration y: <span id="accelerationY"></span>g</li>
			<li>acceleration z: <span id="accelerationZ"></span>g</li>
		</ul>

		<a id="start" href='/capture'>Start</a>
		<br><br><br><br>
		<a id="stop" href='/capture'>Stop!!!</a>

	</div>
	<script type="text/javascript">

		$(document).ready(function(){
	    $("#start").click(function(event){
	      event.preventDefault();
	      startCapture();
	    });

	    $("#stop").click(function(event){
	      event.preventDefault();
	      stopCapture();
	    });
	});

	var storage = [];

	function startCapture() {
	  console.log("Starting......whirrrrr")
	  window.ondevicemotion = capture
	}

	function stopCapture() {
	    console.log("Stopping")
	    console.log(storage)
		    $.post("localhost:3000/upload_data", storage, {
		      // reset storage for next run
		      storage = []
		    });

	    window.ondevicemotion = undefined
	}

	function capture(e) {

	    var x = e.accelerationIncludingGravity.x;
	    var y = e.accelerationIncludingGravity.y;
	    var z = e.accelerationIncludingGravity.z;  

	    storage.push([x,y,z])
	}

	</script>
</body>
</html>