<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
    <script>

    $(document).ready(function(){
      console.log('hello?')
        $("a").click(function(){
                          window.ondevicemotion = function(event) {  
                            var accelerationX = event.accelerationIncludingGravity.x;  
                            var accelerationY = event.accelerationIncludingGravity.y;  
                            var accelerationZ = event.accelerationIncludingGravity.z;  
                          }  
                          console.log('in ondevicemotion')
                          console.log(accelerationY)
        });
    });
    </script>
  </head>
<body>
  <div class='nav'>
    <h1>CENTAUR</h1>
  </div>
  <p>Capture screen</p>
  <script type="text/javascript">


  </script>

  <a href="/capture">Start</a>

  </body>
</html>
