<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class='nav'>
      <h1><a href="/">CENTAUR</a></h1>
      <ul class='nav-links'>
        <li><a href="/">Home</a></li>
        <li><a href="/ride">Dashboard</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div class='header-image'>
      <h2>Track your riding progress.</h2>
      <p>Centaur is an equine app that tracks you and <br>your horse’s training sessions.</p>
    </div>
    <div class='first-about'>
      <div>
        <h2>Every step counts.</h2>
        <p>Feel confident you and your equine partner <br>are on the right track.</p>
        <img src="/images/iphone.png">
        <div class='points'>
          <ul>
            <li><img src="/images/timer.png">Record your training sessions.</li>
            <li><img src="/images/clipboard.png">Track change over time.</li>
            <li><img src="/images/trophy.png">Reach your goals.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>
