<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
<body>
  <div class='nav'>
    <h1>CENTAUR</h1>
  </div>
  <script src="//d3js.org/d3.v3.min.js"></script>
    <div class='graph'>
      <script>
        
        var walk = <%=Math.round(gait_percentages[0])%>
        var trot = <%=Math.round(gait_percentages[1])%>
        var canter = <%=Math.round(gait_percentages[2])%>
        console.log(walk)
        console.log(trot)
        console.log(canter)

          



      </script>
    </div>
  </body>
</html>
