<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width,user-scalable=yes" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

<body>
  <div id="content">
    <h1>Capture Motion</h1>

    <button class="record" data-type="user">Start recording your ride</button>
    <br>
  </div>
  <script type="text/javascript">
    var recording = false;
    var captureType = null;
    var captureData = null;

    $(document).ready(function () {
      $(".record").click(function (event) {
        var el = $(this);
        toggleRecording(el);
      });
    });

    function toggleRecording(el) {
      captureType = el.data('type');

      if (recording) {
        // stop recording
        recording = false;

        // set button text
        el.text("Start recording");

        // post captured data to server
        $.ajax({
          method: "POST",
          url: "/upload_data",
          data: JSON.stringify({
            type: captureType,
            data: captureData
          }),
          contentType: "application/json",
          success: function(data) {
            // reset captureData for next run
            captureData = [];
            console.log(data)
          }
        });

        window.ondevicemotion = undefined;
      } else {
        // start recording
        recording = true;
        captureData = [];

        // set button text
        el.text("Stop recording");

        // start receiving motion events from browser
        window.ondevicemotion = capture;
      }
    }

    function capture(e) {
      captureData.push([e.timeStamp, e.acceleration.x, e.acceleration.y, e.acceleration.z])
    }

  </script>
</body>
</html>